# Data Handling

**Author:** Marco A. Garcia

**Description:**  This is a Jupyter Notebook will server for data anaylze.

### Libraries and Initial Settings

In [1]:
import os

while os.getcwd() != "/" and "pyproject.toml" not in os.listdir(os.getcwd()):
	os.chdir("..")
	if os.getcwd() == "/":
		print("COULD NOT FIND pyproject.toml.  Invalid project base file.")


print("Current Working Directory:  ", os.getcwd())

Current Working Directory:   /home/mgarcia/github/obese_classifier

In [19]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import MinMaxScaler

### Code

In [3]:
filepath = "../datasets/Obesity prediction.csv"
df = pd.read_csv(filepath)

In [4]:
df.shape

(2111, 17)

In [5]:
#How many records? 2111
# 17 features

In [6]:
df.describe()

,Age,Height,Weight,FCVC,NCP,CH2O,FAF,TUE
count,2111.000000,2111.000000,2111.000000,2111.000000,2111.000000,2111.000000,2111.000000,2111.000000
mean,24.312600,1.701677,86.586058,2.419043,2.685628,2.008011,1.010298,0.657866
std,6.345968,0.093305,26.191172,0.533927,0.778039,0.612953,0.850592,0.608927
min,14.000000,1.450000,39.000000,1.000000,1.000000,1.000000,0.000000,0.000000
25%,19.947192,1.630000,65.473343,2.000000,2.658738,1.584812,0.124505,0.000000
50%,22.777890,1.700499,83.000000,2.385502,3.000000,2.000000,1.000000,0.625350
75%,26.000000,1.768464,107.430682,3.000000,3.000000,2.477420,1.666678,1.000000
max,61.000000,1.980000,173.000000,3.000000,4.000000,3.000000,3.000000,2.000000

In [7]:
df.head()

,Gender,Age,Height,Weight,family_history,FAVC,FCVC,NCP,CAEC,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,Obesity
0,Female,21.0,1.62,64.0,yes,no,2.0,3.0,Sometimes,no,2.0,no,0.0,1.0,no,Public_Transportation,Normal_Weight
1,Female,21.0,1.52,56.0,yes,no,3.0,3.0,Sometimes,yes,3.0,yes,3.0,0.0,Sometimes,Public_Transportation,Normal_Weight
2,Male,23.0,1.80,77.0,yes,no,2.0,3.0,Sometimes,no,2.0,no,2.0,1.0,Frequently,Public_Transportation,Normal_Weight
3,Male,27.0,1.80,87.0,no,no,3.0,3.0,Sometimes,no,2.0,no,2.0,0.0,Frequently,Walking,Overweight_Level_I
4,Male,22.0,1.78,89.8,no,no,2.0,1.0,Sometimes,no,2.0,no,0.0,0.0,Sometimes,Public_Transportation,Overweight_Level_II

In [8]:
drop_list = ["Gender","family_history","FAVC","FCVC","NCP","CAEC","SMOKE","CH2O","SCC","FAF","TUE","CALC","MTRANS"]

In [9]:
enc = OneHotEncoder(handle_unknown="ignore",sparse_output=False).set_output(transform='pandas')

In [10]:
df_gender = enc.fit_transform(np.asarray(df["Gender"]).reshape(-1,1))
df_mtrans = enc.fit_transform(np.asarray(df["MTRANS"]).reshape(-1,1))

In [11]:
df_gender.head()

   x0_Female  x0_Male
0        1.0      0.0
1        1.0      0.0
2        0.0      1.0
3        0.0      1.0
4        0.0      1.0

In [12]:
df_mtrans.shape

(2111, 5)

In [14]:
df_data = pd.concat(ignore_index=False, objs=[df,df_mtrans,df_gender],axis=1).drop(labels=drop_list,axis=1)

In [15]:
df_data

,Age,Height,Weight,Obesity,x0_Automobile,x0_Bike,x0_Motorbike,x0_Public_Transportation,x0_Walking,x0_Female,x0_Male
0,21.000000,1.620000,64.000000,Normal_Weight,0.0,0.0,0.0,1.0,0.0,1.0,0.0
1,21.000000,1.520000,56.000000,Normal_Weight,0.0,0.0,0.0,1.0,0.0,1.0,0.0
2,23.000000,1.800000,77.000000,Normal_Weight,0.0,0.0,0.0,1.0,0.0,0.0,1.0
3,27.000000,1.800000,87.000000,Overweight_Level_I,0.0,0.0,0.0,0.0,1.0,0.0,1.0
4,22.000000,1.780000,89.800000,Overweight_Level_II,0.0,0.0,0.0,1.0,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...
2106,20.976842,1.710730,131.408528,Obesity_Type_III,0.0,0.0,0.0,1.0,0.0,1.0,0.0
2107,21.982942,1.748584,133.742943,Obesity_Type_III,0.0,0.0,0.0,1.0,0.0,1.0,0.0
2108,22.524036,1.752206,133.689352,Obesity_Type_III,0.0,0.0,0.0,1.0,0.0,1.0,0.0
2109,24.361936,1.739450,133.346641,Obesity_Type_III,0.0,0.0,0.0,1.0,0.0,1.0,0.0
2110,23.664709,1.738836,133.472641,Obesity_Type_III,0.0,0.0,0.0,1.0,0.0,1.0,0.0

In [17]:
df_data = df_data.drop(labels=["Obesity"],axis=1)

In [18]:
df_data

,Age,Height,Weight,x0_Automobile,x0_Bike,x0_Motorbike,x0_Public_Transportation,x0_Walking,x0_Female,x0_Male
0,21.000000,1.620000,64.000000,0.0,0.0,0.0,1.0,0.0,1.0,0.0
1,21.000000,1.520000,56.000000,0.0,0.0,0.0,1.0,0.0,1.0,0.0
2,23.000000,1.800000,77.000000,0.0,0.0,0.0,1.0,0.0,0.0,1.0
3,27.000000,1.800000,87.000000,0.0,0.0,0.0,0.0,1.0,0.0,1.0
4,22.000000,1.780000,89.800000,0.0,0.0,0.0,1.0,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...
2106,20.976842,1.710730,131.408528,0.0,0.0,0.0,1.0,0.0,1.0,0.0
2107,21.982942,1.748584,133.742943,0.0,0.0,0.0,1.0,0.0,1.0,0.0
2108,22.524036,1.752206,133.689352,0.0,0.0,0.0,1.0,0.0,1.0,0.0
2109,24.361936,1.739450,133.346641,0.0,0.0,0.0,1.0,0.0,1.0,0.0
2110,23.664709,1.738836,133.472641,0.0,0.0,0.0,1.0,0.0,1.0,0.0

In [37]:
cols = df_data.shape[1]

for i in range(cols):
    scaler = MinMaxScaler()

    scaled_feature = scaler.fit_transform(np.asarray(df_data.iloc[:,i]).reshape(-1,1))

    print(type(scaled_feature.shape))
    break

<class 'tuple'>

In [26]:
df_data.columns[0]

'Age'